{
  "extends": [
    "react-app",
    // "airbnb"
  ],
  "rules": {
    "quotes": ["error", "double", { "avoidEscape": true }]
    // "react/prop-types": 0,
    // "max-len": ["off", { "code": 80 }],
    // "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    // "react/jsx-fragments": ["off"],
    // "arrow-parens": ["error", "always"]
  },
  "plugins": [
    "jsx-a11y",
    "react"
  ],
  "parser": "babel-eslint"
}
